.page-header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%; /* Full width for fluid navigation */
    background-color: #fff; /* White background color */
    color: #333; /* Dark text color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */

    .header-container {
        max-width: 1200px; /* Constrain content to maximum width */
        margin: 0 auto; /* Center the content */
        padding: 10px 20px; /* Add padding for spacing */
        display: flex;
        justify-content: space-between; /* Align items in the header */
        align-items: center;
    }

    nav {
        .menu {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            align-items: center;

            .menu-item {
                margin-right: 20px;

                a {
                    color: #333; /* Dark text color for links */
                    text-decoration: none;
                    font-weight: 300; /* Lighter font weight for navigation links */
                    font-size: 16px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .header-shortcut {
        a + a {
            margin-left: 10px;
        }
        a {
            color: #333; /* Dark text color for links */
            text-decoration: none;
            font-weight: 300; /* Lighter font weight for navigation links */
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
